:root {
    --background: #000000;
    --heading: #11581E;
    --text-color: #49D149;
    --line: #58AF58;
    --boxBackground: #1A1A1A;
    --button: #49D149;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.app-shell {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.site-header {
    padding: 20px 0;
    color: var(--heading);
    border-bottom: 1px solid var(--line);
}

h1 {
    margin: 0;
    font-size: 50px;
}

.screen {
    padding: 50px 0;
}

.setup-form {
    display: grid;
    gap: 25px;
}

.field-group {
    display: grid;
}

.field-label {
    font-size: 18px;
}

input {
    background-color: var(--boxBackground);
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--text-color)
}

.input-with-unit {
    display: flex;
    align-items: center;
    border: 1px solid var(--line);
}

.input-with-unit input {
    width: 100%;
    border: none;
}

.input-with-unit span {
    padding-right: 10px;
}

.progress-track {
    width: 100%;
    height: 30px;
    border: 1px solid var(--line);
    background-color: var(--boxBackground);
}

.break-track {
    width: 100%;
    height: 30px;
    border: 1px solid var(--line);
    background-color: var(--boxBackground);
}



.progress-fill {
    width: 0%;
    height: 100%;
    background: var(--button)
}

.break-fill {
    width: 0%;
    height: 100%;
    background: var(--heading)
}

.break-config {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
    border: 1px solid var(--line);
}

.primary-button {
    background-color: var(--button);
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
}

.toggle-label input {
    opacity: 0;
    position: absolute;
}

.toggle-box {
    width: 18px;
    height: 18px;
    border: 1px solid var(--line);
    display: grid;
    place-items: center;
}

.toggle-label input:checked + .toggle-box::after {
    content: "";
    width: 8px;
    height: 8px;
    background: var(--button)
}

.module-heading {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;
}

.session-label{
    margin: 22px 0 8px;
} 

.hidden {
    display: none;
}


@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    .break-config {
        flex-direction: column;
        align-items: flex-start;
    }

    .primary-button {
        width: 100%;
    }
}

